---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "linuxjava7's blog";
const allPosts = Object.values(
  import.meta.glob("./blog/*.md", { eager: true }),
).sort((a, b) => {
  const dateA = new Date(a.frontmatter?.date ?? 0);
  const dateB = new Date(b.frontmatter?.date ?? 0);
  return dateB - dateA; // newest first
});
---

<BaseLayout pageTitle={pageTitle}>
  <h1><b>{pageTitle}</b></h1>
  <div class="boxed-list-separate">
    {
      allPosts.map((post) => (
        <a href={post.url} class="card">
          <div class="card-content">
            {/* Tags */}
            {post.frontmatter.tags?.length && (
              <div class="tags">
                {post.frontmatter.tags.map((tag) => (
                  <span class="tag">{tag.toLowerCase()}, </span>
                ))}
              </div>
            )}
            {/* Title */}
            <h3>
              <b>{post.frontmatter.title}</b>
            </h3>
            {/* Date */}
            <small>
              {new Date(post.frontmatter.date).toLocaleDateString("en-GB", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </small>
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>
