---
import Layout from "../layouts/layout.astro";

const pageTitle = "fuwaflow's portfolio";

const allPosts = Object.values(import.meta.glob("./blog/*.md", { eager: true }))
  .filter((post: any) =>
    post.frontmatter.tags
      ?.map((t: string) => t.toLowerCase())
      .includes("portfolio"),
  )
  .sort((a: any, b: any) => {
    const dateA = new Date(a.frontmatter?.date ?? 0).getTime();
    const dateB = new Date(b.frontmatter?.date ?? 0).getTime();
    return dateB - dateA;
  });
---

<Layout title={pageTitle}>
  <main>
    <section>
      <h1 style="color: var(--accent);" class="h0">{pageTitle}</h1>
      <p>
        welcome to my portfolio! here are the projects and works i've been
        focusing on.
      </p>
      <hr />
    </section>

    <section>
      <h2>featured projects</h2>
      <div class="card-grid">
        {
          allPosts.map((post: any) => (
            <a href={post.url} class="card">
              {post.frontmatter.tags?.length && (
                <div class="card-tags">
                  {post.frontmatter.tags.map((tag: string) => (
                    <span class="card-tag">{tag}</span>
                  ))}
                </div>
              )}
              <h3 class="card-title">{post.frontmatter.title}</h3>
              {post.frontmatter.description && (
                <p class="card-description">{post.frontmatter.description}</p>
              )}
              <time class="card-date">
                {new Date(post.frontmatter.date).toLocaleDateString("en-GB", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </time>
            </a>
          ))
        }
      </div>
      <hr />
    </section>
  </main>
</Layout>
