---
const { pageTitle, description = "LinuxJava7's website" } = Astro.props;
import TabBar from "../components/TabBar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <!-- Open Graph / Social Media -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />

    <!-- Theme & Icons -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,slnt,wdth,wght,GRAD,ROND@6..144,-10..0,25..151,1..1000,0..100,0..100&display=swap"
      rel="stylesheet"
    />

    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="headerbar">
      <div class="headerbar-start"></div>
      <div class="headerbar-center">
        <TabBar class="large" />
        <div class="titlebox">
          <p class="headerbar-title">{pageTitle}</p>
        </div>
      </div>
      <div class="headerbar-end"></div>
    </div>
    <div class="bottombar">
      <TabBar />
    </div>
    <main id="main-content">
      <slot />
    </main>
    <footer class="card">
      <ul class="social">
        <li class="github">
          <a
            href="https://github.com/linuxjava7"
            title="GitHub"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
        </li>
        <li class="mastodon">
          <a
            rel="me"
            href="https://mastodon.social/@linuxjava7"
            title="Mastodon"
            target="_blank"
          >
            Mastodon
          </a>
        </li>
      </ul>

      <p>
        This website's code is licensed under the AGPL v3. Content is licensed
        under CC BY-SA 4.0.
      </p>
    </footer>
  </body>
</html>
