---
const { pageTitle, description = "LinuxJava7's website" } = Astro.props;
import TabBar from "../components/TabBar.astro";
import "../styles/global.css";
const showBackButton = Astro.url.pathname !== "/";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <!-- Open Graph / Social Media -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />

    <!-- Theme & Icons -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,slnt,wdth,wght,GRAD,ROND@6..144,-10..0,25..151,1..1000,0..100,0..100&display=swap"
      rel="stylesheet"
    />

    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="headerbar">
      <div class="headerbar-start">
        {
          showBackButton && (
            <button
              onClick="window.history.back()"
              class="nav-button bar-glass-button"
            >
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="m 12 2 c 0 -0.265625 -0.105469 -0.519531 -0.292969 -0.707031 c -0.390625 -0.390625 -1.023437 -0.390625 -1.414062 0 l -6 6 c -0.1875 0.1875 -0.292969 0.441406 -0.292969 0.707031 s 0.105469 0.519531 0.292969 0.707031 l 6 6 c 0.390625 0.390625 1.023437 0.390625 1.414062 0 c 0.1875 -0.1875 0.292969 -0.441406 0.292969 -0.707031 s -0.105469 -0.519531 -0.292969 -0.707031 l -5.292969 -5.292969 l 5.292969 -5.292969 c 0.1875 -0.1875 0.292969 -0.441406 0.292969 -0.707031 z m 0 0"
                  fill="currentColor"
                />
              </svg>
            </button>
          )
        }
      </div>
      <div class="headerbar-center">
        <TabBar class="large bar-glass-button" />
        <div class="titlebox bar-glass-button">
          <p class="headerbar-title">{pageTitle}</p>
        </div>
      </div>
      <div class="headerbar-end">
        {
          showBackButton && (
            <button
              onClick="window.history.back()"
              class="nav-button bar-glass-button"
            >
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="m 12 2 c 0 -0.265625 -0.105469 -0.519531 -0.292969 -0.707031 c -0.390625 -0.390625 -1.023437 -0.390625 -1.414062 0 l -6 6 c -0.1875 0.1875 -0.292969 0.441406 -0.292969 0.707031 s 0.105469 0.519531 0.292969 0.707031 l 6 6 c 0.390625 0.390625 1.023437 0.390625 1.414062 0 c 0.1875 -0.1875 0.292969 -0.441406 0.292969 -0.707031 s -0.105469 -0.519531 -0.292969 -0.707031 l -5.292969 -5.292969 l 5.292969 -5.292969 c 0.1875 -0.1875 0.292969 -0.441406 0.292969 -0.707031 z m 0 0"
                  fill="currentColor"
                />
              </svg>
            </button>
          )
        }
      </div>
    </div>
    <div class="bottombar">
      <TabBar class="bar-glass-button" />
    </div>
    <main id="main-content">
      <slot />
    </main>
    <footer>
      <ul class="social">
        <li class="github">
          <a
            href="https://github.com/linuxjava7"
            title="GitHub"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
        </li>
        <li class="mastodon">
          <a
            rel="me"
            href="https://mastodon.social/@linuxjava7"
            title="Mastodon"
            target="_blank"
          >
            Mastodon
          </a>
        </li>
      </ul>

      <p>
        This website's code is licensed under the AGPL v3. Content is licensed
        under CC BY-SA 4.0.
      </p>
    </footer>
  </body>
</html>
