---
import "normalize.css";
import "../styles/main.css";

interface Props {
  title?: string;
  description?: string;
}

const { title = "fuwaflow", description = "fuwaflow's website" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,0..100,0..1;1,9..144,100..900,0..100,0..1&family=Fredoka:wdth,wght@75..125,300..700&family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/" class="logo">fuwaflow</a>
      <a href="/blog">blog</a>
      <a href="/portfolio">portfolio</a>
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <div class="footer-inner">
        <p>made with love by fuwaflow</p>
        <small>
          code is licensed under <a
            href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL v3</a
          >. content is licensed under <a
            href="https://creativecommons.org/licenses/by-sa/4.0/"
            >CC BY-SA 4.0</a
          >.
        </small>
      </div>
    </footer>
  </body>
</html>
