---
import Layout from "./layout.astro";
const { frontmatter } = Astro.props;

const formattedDate = frontmatter.date
  ? new Date(frontmatter.date).toLocaleDateString("en-GB", {
      year: "numeric",
      month: "long",
      day: "numeric",
    })
  : "";
---

<Layout pageTitle={frontmatter.title}>
  <article>
    <header class="post-header">
      {
        frontmatter.tags?.length && (
          <div class="post-tags">
            {frontmatter.tags.map((tag) => (
              <span class="post-tag">{tag}</span>
            ))}
          </div>
        )
      }
      <h1 class="post-title">{frontmatter.title}</h1>
      {
        frontmatter.description && (
          <p class="post-description">{frontmatter.description}</p>
        )
      }
      {formattedDate && <time class="post-date">{formattedDate}</time>}
    </header>
    <div class="post-body">
      <slot />
    </div>
  </article>
</Layout>
